{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #262425;">
  <a class="navbar-brand" href="{% url 'movies:main' %}">
    <img src="{% static 'movies/images/font_logo.png' %}" alt="logo" style="width: 150px;">
    {% if user.is_authenticated %}
      　{{ user }}님
    {% else %}
      　GUEST
    {% endif %}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'movies:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:manage_choice' %}">Manage</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:user_detail' request.user.pk %}" href="">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:my_message' %}">My Message[{{ userMessages | length }}]</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>