{% extends 'movies/base.html' %}

{% load socialaccount %}
{% load bootstrap4 %}

{% block base %}
<h1>LOGIN</h1>
  
<a href="{% provider_login_url 'naver'%}" class="btn btn-success font-weight-bold">NAVER</a><br>
<a href="{% provider_login_url 'google'%}" class="btn btn-danger font-weight-bold">GOOGLE</a><br>
<a href="{% provider_login_url 'kakao'%}" class="btn btn-warning font-weight-bold">KAKAO</a><br>

  <a href="{% url 'movies:get_genreData' %}">다음</a>
  <a href="{% url 'movies:get_movieData' %}">시작하기</a>

{% endblock base %}
