{% extends 'base.html' %}
{% load static %}

{% block css %}
{% comment %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endcomment %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background-color: #1a1b1c;
    {% comment %} height: 100%; {% endcomment %}
    {% comment %} background-image: url({% static 'movies/images/logo2.png' %}); {% endcomment %}
    {% comment %} background-size: cover; {% endcomment %}
    {% comment %} background-repeat: no-repeat; {% endcomment %}
    {% comment %} background-position: 10%, 10%; {% endcomment %}
    {% comment %} background-position: center; {% endcomment %}
    {% comment %} background-attachment: fixed; {% endcomment %}
  }



  .MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
  }

  .MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
  }

  .MultiCarousel .MultiCarousel-inner .item {
    float: left;
  }

  .MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
  }

  .MultiCarousel .leftLst,
  .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
  }

  .MultiCarousel .leftLst {
    left: 0;
  }

  .MultiCarousel .rightLst {
    right: 0;
  }

  .MultiCarousel .leftLst.over,
  .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
  }

  .nav {
    background-image: url({% static 'movies/images/logo2-2.png' %});
    background-color: #1a1b1c;
    height: 36%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%, 10%;
    background-position: center;
    {% comment %} background-attachment: fixed; {% endcomment %}
  }
  }
</style>
{% endblock css %}

{% block no_container %}
<nav class="nav">　</nav>
{% endblock no_container %}

{% block content %}
<div class="text-center">
  <h1 class="text-center text-warning border-bottom border-right px-3 border-warning pb-3" style="margin-top: 35px; display: inline-block;">MOVIE LIST</h1>
</div>

<p>한쪽에 포스터, 한쪽에 포스터와 자세히 보러가기</p>

  <div class="d-flex justify-content-around">
    <div>
      <iframe id="mainTeaser" width="600" height="480" src="http://www.youtube.com/embed/{{randomTeaser}}?autoplay=1" frameborder="0">
      </iframe>
    </div>
    <div class="card" style="width: 18rem;">
      <img id="posterImage" src="https://image.tmdb.org/t/p/original{{randomPoster}}" class="card-img-top" alt="...">
      <a href="#" class="btn btn-primary">더 보러가기</a>
    </div>
  </div>

  <div class="row">
    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
      <div class="MultiCarousel-inner">
        {% for movie in movies %}
          <div class="item">
            <div class="pad15 rounded">
              <img class="{{movie.teaser}} teaser" 
              src="https://image.tmdb.org/t/p/original{{movie.poster_url}}" 
              alt="" style="height: 200px;" 
              data-teaserid="{{movie.teaser}}" 
              data-posterid="{{movie.poster_url}}">
            </div>
          </div>
        {% endfor %}
       
      </div>
      <button class="btn btn-primary leftLst"> < </button> 
      <button class="btn btn-primary rightLst"> ></button>
    </div>
  </div>
  

  <div class="dropdown text-center mt-5">
    <button id="genreDropDown" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      장르 고르기
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      {% for genre in allGenres %}
        <button class="dropdown-item genreChoice" 
                type="button" 
                data-id="{{genre.id}}"
                data-name="{{genre.name}}">{{genre.name}}</button>
      {% endfor %}
    </div>
  </div>
  <div class="temp">
    {% for genre, movies in allGenres.items %}
     {{genre}} - {{movies}}
    {% endfor %}
  </div>  


  <div id="selectMovies">
    {% for movie in allMovies %}
      <div class="card selectedMovie" style="width: 18rem; display: none;" data-id="{{movie.id}}">
        <img src="https://image.tmdb.org/t/p/original{{movie.poster_url}}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
        </div>
      </div>
    {% endfor %}
  </div>
{% comment %} </div> {% endcomment %}

{% endblock content %}

{% block script %}
<script type="text/javascript">
  const genreBtns = document.querySelectorAll('.genreChoice')
  genreBtns.forEach(btn => {
    btn.addEventListener('click', function(event) {
      const genreName = event.target.dataset.name
      const genreId = event.target.dataset.id
      const dropDown = document.querySelector('#genreDropDown')
      dropDown.innerText = genreName
      const num = 4
      const selectedMovie = document.querySelectorAll('.selectedMovie')
      console.log(selectedMovie)

    })
  })

  const teaserBtns = document.querySelectorAll('.teaser')
  teaserBtns.forEach(btn =>{
    btn.addEventListener('click', function(event) {
        console.log(event)
        const teaserId = event.target.dataset.teaserid
        const posterId = event.target.dataset.posterid
        let mainTeaser = document.querySelector('#mainTeaser')
        let posterImage = document.querySelector('#posterImage')
        mainTeaser.src = `http://www.youtube.com/embed/${teaserId}?autoplay=1`
        posterImage.src = `https://image.tmdb.org/t/p/original${posterId}`
    })
  }) 
</script>

<script>
  $(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
      var condition = $(this).hasClass("leftLst");
      if (condition)
        click(0, this);
      else
        click(1, this)
    });

    ResCarouselSize();




    $(window).resize(function () {
      ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
      var incno = 0;
      var dataItems = ("data-items");
      var itemClass = ('.item');
      var id = 0;
      var btnParentSb = '';
      var itemsSplit = '';
      var sampwidth = $(itemsMainDiv).width();
      var bodyWidth = $('body').width();
      $(itemsDiv).each(function () {
        id = id + 1;
        var itemNumbers = $(this).find(itemClass).length;
        btnParentSb = $(this).parent().attr(dataItems);
        itemsSplit = btnParentSb.split(',');
        $(this).parent().attr("id", "MultiCarousel" + id);


        if (bodyWidth >= 1200) {
          incno = itemsSplit[3];
          itemWidth = sampwidth / incno;
        } else if (bodyWidth >= 992) {
          incno = itemsSplit[2];
          itemWidth = sampwidth / incno;
        } else if (bodyWidth >= 768) {
          incno = itemsSplit[1];
          itemWidth = sampwidth / incno;
        } else {
          incno = itemsSplit[0];
          itemWidth = sampwidth / incno;
        }
        $(this).css({
          'transform': 'translateX(0px)',
          'width': itemWidth * itemNumbers
        });
        $(this).find(itemClass).each(function () {
          $(this).outerWidth(itemWidth);
        });

        $(".leftLst").addClass("over");
        $(".rightLst").removeClass("over");

      });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
      var leftBtn = ('.leftLst');
      var rightBtn = ('.rightLst');
      var translateXval = '';
      var divStyle = $(el + ' ' + itemsDiv).css('transform');
      var values = divStyle.match(/-?[\d\.]+/g);
      var xds = Math.abs(values[4]);
      if (e == 0) {
        translateXval = parseInt(xds) - parseInt(itemWidth * s);
        $(el + ' ' + rightBtn).removeClass("over");

        if (translateXval <= itemWidth / 2) {
          translateXval = 0;
          $(el + ' ' + leftBtn).addClass("over");
        }
      } else if (e == 1) {
        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
        translateXval = parseInt(xds) + parseInt(itemWidth * s);
        $(el + ' ' + leftBtn).removeClass("over");

        if (translateXval >= itemsCondition - itemWidth / 2) {
          translateXval = itemsCondition;
          $(el + ' ' + rightBtn).addClass("over");
        }
      }
      $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
      var Parent = "#" + $(ee).parent().attr("id");
      var slide = $(Parent).attr("data-slide");
      ResCarousel(ell, Parent, slide);
    }

  });
</script>
{% endblock script %}