{% extends 'base.html' %}
{% load static %}

{% block css %}
{% comment %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endcomment %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap&subset=korean" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean" rel="stylesheet">
<style>
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background-color: #1a1b1c;
  }



  .MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
  }

  .MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
  }

  .MultiCarousel .MultiCarousel-inner .item {
    float: left;
  }

  .MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
  }

  .MultiCarousel .leftLst,
  .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
  }

  .MultiCarousel .leftLst {
    left: 0;
  }

  .MultiCarousel .rightLst {
    right: 0;
  }

  .MultiCarousel .leftLst.over,
  .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
  }

  .nav {
    background-image: url({% static 'movies/images/logo2-3.png' %});
    background-color: #1a1b1c;
    height: 36%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%, 10%;
    background-position: center;

      {
      % comment %
    }

    background-attachment: fixed;

      {
      % endcomment %
    }
  }
  }
</style>
{% endblock css %}

{% block no_container %}
<nav class="nav"> </nav>
{% endblock no_container %}

{% block content2 %}
<div class="text-center">
  <h1 class="text-center text-warning border-bottom border-right px-3 border-warning pb-3"
    style="margin-top: 80px; margin-bottom: 50px; display: inline-block;">MOVIE LIST</h1>
</div>

<div class="d-flex justify-content-around" style="width: 100%; height: 100%; margin-bottom: 20px;">
  <div style="width: 90%; height: 70%;" class="text-center">
    <iframe id="mainTeaser" style="width: 55vw; height: 55vh"
      src="http://www.youtube.com/embed/{{randomTeaser}}?autoplay=1" frameborder="0">
    </iframe>
  </div>
  <div class="card-block special-card mx-auto my-auto rounded text-center p-2 border border-dark"
    style="width: 18rem; border: 5px;">
    <img id="posterImage" src="https://image.tmdb.org/t/p/original{{randomPoster}}" class="card-img-top" alt="...">
    <a id="moreInfo" href="/movies/movie_detail/{{movieId}}/" style="width: 60%; margin-top: 10px;"
      class="btn btn-primary">더 보러가기</a>
  </div>
</div>

<div class="row">
  <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000"
    style="padding: 0;">
    <div class="MultiCarousel-inner">
      {% for movie in movies %}
      <div class="item">
        <div class="pad15 rounded" style="background-color: rgba(0, 0, 0, 0);">
          <img class="{{movie.teaser}} teaser rounded" src="https://image.tmdb.org/t/p/original{{movie.poster_url}}"
            alt="" style="height: 250px; cursor:pointer;" data-teaserid="{{movie.teaser}}"
            data-posterid="{{movie.poster_url}}" data-movieId="{{movie.pk}}">
        </div>
      </div>
      {% endfor %}

    </div>
    <button class="btn btn-primary leftLst">
      < </button> <button class="btn btn-primary rightLst"> >
    </button>
  </div>
</div>

<div class="text-center">
  <h1 class="text-center text-warning border-bottom border-right px-3 border-warning pb-3"
    style="margin-top: 80px; margin-bottom: 10px; display: inline-block;">GENRES</h1>
</div>
<div class="dropdown text-center mt-5">
  <button id="genreDropDown" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 100px;">
    GENRES
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    {% for genre in allGenres %}
    <button class="dropdown-item genreChoice" type="button" data-id="{{genre.id}}" data-name="{{genre.name}}">
      {{genre.name}}
    </button>
    {% endfor %}
  </div>
</div>
<div class="allMovies">
  {% for genre, movies in allGenres.items %}
  <div class="{{genre}}-seletedGenre">
    {% for movie in genre.movies.all %}
    <div class="card mx-2 my-3 {{genre}} {{movie}} selectedMovie"
      style="width: 18; display: none; font-size: 10px;" data-id="{{movie.id}}" value="{{movie.title}}">
      <a class="text-light text-center text-decoration-none" href="{% url 'movies:movie_detail' movie.pk %}">
        <img src="https://image.tmdb.org/t/p/original{{movie.poster_url}}" class="card-img-top" alt="{{movie.title}}"
          style="width: 100%; height: 290px;">
        <p class="card-title rounded-bottom py-2 text-dark" style="background-color: rgba(250, 250, 250, 0.5); font-size: 20px; font-family: 'Black Han Sans';,'Noto Sans KR', sans-serif;, 'Nanum Myeongjo', serif;">{{movie.title}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>


<div id="showMovies" class="row" style="margin-bottom: 100px;">
</div>

{% endblock content2 %}

{% block script %}
<script type="text/javascript">
  const genreBtns = document.querySelectorAll('.genreChoice')
  const allMovies = document.querySelectorAll('.selectedMovie')
  const showMovies = document.querySelector('#showMovies')

  genreBtns.forEach(btn => {
    btn.addEventListener('click', function (event) {
      if (showMovies.children.length != 0) {
        while (showMovies.hasChildNodes()) {
          showMovies.removeChild(showMovies.firstChild)
        }
      }
      console.log(event.target.dataset.name)
      const genreName = event.target.dataset.name
      const selectedGenre = document.querySelector(`.${genreName}-seletedGenre`)
      console.log(selectedGenre)
      if (selectedGenre == null) {
        console.log('null')
      } else {
        const selectedMovie = selectedGenre.children
        if (selectedMovie.length < 4) { // 길이가 4 이하인 경우
          for (let i = 0; i < selectedMovie.length; i++) {
            const clone = selectedMovie[i].cloneNode(true)
            showMovies.appendChild(clone)
            showMovies.children[i].style.display = 'inline'
            showMovies.children[i].className = 'col-12 col-sm-6 col-md-4 col-lg-3 my-3'
          }
        } else {
          const randomNums = []
          const movieLen = selectedMovie.length

          while (randomNums.length < 4) {
            const num = Math.floor(Math.random() * (movieLen - 1))
            if (!randomNums.includes(num)) {
              randomNums.push(num)
            }
          }
          console.log(randomNums)
          for (let i = 0; i < 4; i++) { // 4 이상인 경우
            const clone = selectedMovie[randomNums[i]].cloneNode(true)
            showMovies.appendChild(clone)
            showMovies.children[i].style.display = 'inline'
            showMovies.children[i].className = 'col-12 col-sm-6 col-md-4 col-lg-3 my-3'
          }
        }

      }

      const genreId = event.target.dataset.id
      const dropDown = document.querySelector('#genreDropDown')
      dropDown.innerText = genreName
    })
  })

  const teaserBtns = document.querySelectorAll('.teaser')
  teaserBtns.forEach(btn => {
    btn.addEventListener('click', function (event) {
      console.log(event)
      const teaserId = event.target.dataset.teaserid
      const posterId = event.target.dataset.posterid
      const movieId = event.target.dataset.movieid
      console.log(movieId)
      let mainTeaser = document.querySelector('#mainTeaser')
      let posterImage = document.querySelector('#posterImage')
      let moreInfo = document.querySelector('#moreInfo')
      mainTeaser.src = `http://www.youtube.com/embed/${teaserId}?autoplay=1`
      posterImage.src = `https://image.tmdb.org/t/p/original${posterId}`
      moreInfo.href = `/movies/movie_detail/${movieId}/`

    })
  })
</script>

<script>
  $(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
      var condition = $(this).hasClass("leftLst");
      if (condition)
        click(0, this);
      else
        click(1, this)
    });

    ResCarouselSize();




    $(window).resize(function () {
      ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
      var incno = 0;
      var dataItems = ("data-items");
      var itemClass = ('.item');
      var id = 0;
      var btnParentSb = '';
      var itemsSplit = '';
      var sampwidth = $(itemsMainDiv).width();
      var bodyWidth = $('body').width();
      $(itemsDiv).each(function () {
        id = id + 1;
        var itemNumbers = $(this).find(itemClass).length;
        btnParentSb = $(this).parent().attr(dataItems);
        itemsSplit = btnParentSb.split(',');
        $(this).parent().attr("id", "MultiCarousel" + id);


        if (bodyWidth >= 1200) {
          incno = itemsSplit[3];
          itemWidth = sampwidth / incno;
        } else if (bodyWidth >= 992) {
          incno = itemsSplit[2];
          itemWidth = sampwidth / incno;
        } else if (bodyWidth >= 768) {
          incno = itemsSplit[1];
          itemWidth = sampwidth / incno;
        } else {
          incno = itemsSplit[0];
          itemWidth = sampwidth / incno;
        }
        $(this).css({
          'transform': 'translateX(0px)',
          'width': itemWidth * itemNumbers
        });
        $(this).find(itemClass).each(function () {
          $(this).outerWidth(itemWidth);
        });

        $(".leftLst").addClass("over");
        $(".rightLst").removeClass("over");

      });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
      var leftBtn = ('.leftLst');
      var rightBtn = ('.rightLst');
      var translateXval = '';
      var divStyle = $(el + ' ' + itemsDiv).css('transform');
      var values = divStyle.match(/-?[\d\.]+/g);
      var xds = Math.abs(values[4]);
      if (e == 0) {
        translateXval = parseInt(xds) - parseInt(itemWidth * s);
        $(el + ' ' + rightBtn).removeClass("over");

        if (translateXval <= itemWidth / 2) {
          translateXval = 0;
          $(el + ' ' + leftBtn).addClass("over");
        }
      } else if (e == 1) {
        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
        translateXval = parseInt(xds) + parseInt(itemWidth * s);
        $(el + ' ' + leftBtn).removeClass("over");

        if (translateXval >= itemsCondition - itemWidth / 2) {
          translateXval = itemsCondition;
          $(el + ' ' + rightBtn).addClass("over");
        }
      }
      $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
      var Parent = "#" + $(ee).parent().attr("id");
      var slide = $(Parent).attr("data-slide");
      ResCarousel(ell, Parent, slide);
    }

  });
</script>
{% endblock script %}