{% extends 'base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}
{% block content %}
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary">submit!</button>
  </form>
{% if isForm == 'login' %}
  네이버 : <a href="{% provider_login_url 'naver'%}">네이버 로그인</a><br>
  구글 : <a href="{% provider_login_url 'google'%}">구글 로그인</a><br>
  카카오 : <a href="{% provider_login_url 'kakao'%}">카카오 로그인</a><br>
  <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
{% endif %}

{% endblock content %}