{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      background-color: black;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0, 0;
      background-position: center;
      background-attachment: fixed;
      background-image: url('{% static 'movies/images/message.png' %}');
    }

    .dimm {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: block;
    }

    #modal {
      display: none;
    }
  </style>
</head>

<body>
  {% include '_navBar.html' %}
  <div class="container">

    <a id="sendBtn" class="btn btn-warning mt-5 mr-3 mb-5" href="#">SEND MESSAGE</a>
    <i class="fas fa-envelope-open-text"></i>
    <br>

    <ul class="list-group list-group-flush">
      {% for message in userMessages %}
      <input type="hidden" name="send_user" id="send_user" value="{{message.send}}">
      <li class="list-group-item d-flex justify-content-between align-items-center rounded"
        style="background-color: rgba(250, 250, 250, 0.8);">
        {% if message.is_read %}
        <a href="#" style="text-decoration: none; color: black;">
          <b>{{message.send}}</b> | {{ message.comment}}
        </a>
        {% else %}
        <a href="#" style="text-decoration: none; color: red;">
          <b>{{message.send}}</b> | {{ message.comment}}
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <div id="modal" class="modal text-center my-auto" tabindex="-1" role="dialog">
      <form action="{% url 'accounts:send_message' %}" method="POST" id="messageForm">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">메세지 보내기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <select name="receive" class="custom-select" id="inputGroupSelect04"
                    aria-label="Example select with button addon">
                    {% for following in user.followings.all %}
                    <option value="{{following.pk}}">{{following}}</option>
                    {% endfor %}
                  </select>
                </div>
                <input type="text" name="comment" class="form-control" placeholder="Username" aria-label="Username"
                  aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="modal-footer">
              <button id="submitBtn" class="btn btn-primary">메세지 보내기</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script type="text/javascript">
    const modal = document.querySelector('#modal')
    const sendBtn = document.querySelector('#sendBtn')
    const dimm = document.createElement('div')
    const closeBtn = document.querySelector('.close')
    const submitBtn = document.querySelector('#submitBtn')
    sendBtn.onclick = function () {
      document.body.appendChild(dimm)
      dimm.setAttribute('class', 'dimm');
      dimm.style.display = 'block'
      modal.style.display = 'block'
      modal.style.zIndex = '1'
    }

    submitBtn.onclick = function () {
      const messageForm = document.querySelector('#messageForm')
      messageForm.submit()
      modal.style.display = 'none'
      dimm.style.display = 'none'
    }



    closeBtn.onclick = function () {
      modal.style.display = 'none'
      dimm.style.display = 'none'
    }
  </script>
</body>

</html>