{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  body {
    background-color: black;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0, 0;
    background-position: center;
    background-attachment: fixed;
    background-image: url('{% static 'movies/images/profile.png' %}');
  }
</style>
{% endblock css %}

{% block content %}
{% comment %} <button class="btn btn-primary mt-3" onclick="location.href='{% url 'accounts:index' %}'">메인화면으로</button>
{% endcomment %}
<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.3); margin-top: 100px;">
  {% if request.user.is_staff %}
  <button type="button" class="btn btn-dark" onclick="location.href='{% url 'accounts:user_modify' user.pk %}'">유저 정보
    수정</button>
  {% endif %}
  <h1 class="display-4 text-light text-right font-weight-bold mr-4 mb-3 border-bottom pb-2">{{user}}</h1>
  <h2 class="text-light text-right font-weight-bold mr-4 mb-3 border-bottom pb-2">{{user.first_name}}{{user.last_name}}</h2>
  <hr class="my-4">
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      평점 정보</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for rating in user.rating_set.all %}
      <a class="dropdown-item" href="{% url 'movies:movie_detail' rating.movie.pk %}">{{rating.score}} /
        {{rating.movie}}</a>
      {% endfor %}
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    </div>
  </div>

  <div class="dropdown mt-3">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      좋아하는 영화 정보
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for movie in user.movie_set.all %}
      <a class="dropdown-item" href="{% url 'movies:movie_detail' movie.pk %}">{{movie.title}}</a>
      {% endfor %}
    </div>
  </div>

  <div class="dropdown mt-3 d-inline-block mr-3">
    <button class="btn btn-primary dropdown-toggle" type="button" id="following-{{user.pk}}" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      FOLLOWING | {{user.followings.all|length}}명
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for following in user.followings.all  %}
      <a class="dropdown-item" href="{% url 'accounts:user_detail' following.pk%}"> {{following}}</a>
      {% endfor %}
    </div>
  </div>

  <div class="dropdown d-inline">
    <button class="btn btn-primary dropdown-toggle" type="button" id="follower-{{user.pk}}" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      FOLLOWER | {{ user.follow_user.count }}명
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for follower in user.follow_user.all %}
      <a class="dropdown-item" href="{% url 'accounts:user_detail' follower.pk%}">{{follower}}</a>
      {% endfor %}
    </div>
  </div>

  <hr>

  {% if request.user != user %}
  {% if request.user in user.follow_user.all %}
  {% comment %} <p>이미 팔로우 중인 유저입니다.</p> {% endcomment %}
  <p class="btn btn-danger follow-button" href="{% url 'accounts:follow' user.pk %}" role="button"
    data-id="{{user.pk}}">unfollow</a>
    {% else %}
    <p class="btn btn-primary follow-button" href="{% url 'accounts:follow' user.pk %}" role="button"
      data-id="{{user.pk}}">follow</a>
      {% endif %}
      {% endif %}

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
  const follow = document.querySelectorAll('.follow-button')
  follow.forEach(button => {
    button.addEventListener('click', function (event) {
      //console.log(event)      
      const userId = event.target.dataset.id
      //console.log(movieId)
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      const followUrl = `/accounts/follow/${userId}/`
      axios.post(followUrl)
        .then(response => {
          //console.log(response)
          // 위에서 정의한 span 태그의 id값에 사용자가 좋아요를 누를 때마다 response.data.count의 값을 갱신시킴         
          document.querySelector(`#follower-${userId}`).innerText =
            `FOLLOWER | ${response.data.follower_count}명`
          document.querySelector(`#following-${userId}`).innerText =
            `FOLLOWING | ${response.data.following_count}명`
          //console.log(response.data.follower_count)         
          //console.log(response)
          if (response.data.isFollow) {

            //event.target.className = 'fas fa-heart-broken like-button'
            //event.target.style.color = 'black'

            event.target.className = 'btn btn-danger follow-button'
            event.target.innerText = 'unfollow'
          } else {
            //event.target.className = 'fas fa-heart like-button'
            //event.target.style.color = 'crimson'

            event.target.className = 'btn btn-primary follow-button'
            event.target.innerText = 'follow'
          }
        })
        .catch(error => console.log(error))
    })
  })
</script>
{% endblock content %}